/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/06/2016, 2:43:46 PM
    Author     : Andrew Dallow
*/


/*Contact Page
*******************************************************************************/

.contact-section {
    padding: 10px;
    h1 {
        text-align: center;
        color: $color-primary-4;
    }

    .contact-details {
        font-size: 20px;
        line-height: 2;

        h2 {
            color: $color-primary-4;
        }

        h4 {
            font-size: 24px;
            font-weight: bold;
        }

        hr {
            border-color: grey !important;
        }

        .fa { 
            font-size: 24px;
            padding-right: 20px;
        }
    }

    .contact-form {
        padding-top: 20px;
        
        .panel {
            background: $color-primary-1;
            border: 2px solid;
            
            h2 {                
                margin-top: 0;
                margin-bottom: 20px;
                font-weight: bold;
            }
            
            button {
                font-size: 18px;
            }
        }
    }
}
