/*
    CSS Styles file for Midland Electrical and Security Website.
*/
/* 
    Created on : 6/06/2016, 2:42:51 PM
    Author     : Andrew Dallow
*/
/*******************************************************************************
* Shared styles
*******************************************************************************/
html {
  overflow: auto; }

body {
  font-size: 20px !important;
  font-family: sans-serif !important; }

/*******************************************************************************
*Chrome
*******************************************************************************/
/* Header
*******************************************************************************/
.top-header .contact-container {
  height: 150px; }
.top-header .header-contact {
  text-align: center;
  margin-top: 40px;
  padding: 5px; }
  .top-header .header-contact h1 {
    margin: 0; }
  .top-header .header-contact .panel {
    background: #9FC5F8; }
  .top-header .header-contact .panel-body {
    padding: 5px;
    border: 2px solid; }

/* Navigation
*******************************************************************************/
.nav-section .navbar {
  background: #213F9A; }
  .nav-section .navbar .navbar-toggle {
    border-color: #fff !important; }
  .nav-section .navbar .navbar-nav {
    font-size: 18px; }
    .nav-section .navbar .navbar-nav a {
      text-transform: uppercase;
      color: #fff !important; }
      .nav-section .navbar .navbar-nav a:hover {
        color: #999999 !important; }
    .nav-section .navbar .navbar-nav .current, .nav-section .navbar .navbar-nav .section {
      padding-bottom: 5px;
      color: #999999 !important;
      border-bottom: 1px solid; }

/* Footer
*******************************************************************************/
.footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #213F9A;
  text-align: center;
  font-size: 16px;
  color: #fff; }
  .footer a {
    color: #fff !important;
    text-decoration: underline; }
    .footer a:hover {
      color: #999999 !important; }
  .footer .contact-info .row {
    padding: 0 !important;
    margin: 0 !important; }
  .footer .fa-mobile {
    padding-left: 10px; }
  .footer .fa {
    padding-right: 5px; }
  .footer .footer-bottom {
    padding-top: 20px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/06/2016, 2:43:46 PM
    Author     : Andrew Dallow
*/
/*Contact Page
*******************************************************************************/
.contact-section {
  padding: 10px; }
  .contact-section h1 {
    text-align: center;
    color: #091F5F; }
  .contact-section .contact-details {
    font-size: 20px;
    line-height: 2; }
    .contact-section .contact-details h2 {
      color: #091F5F; }
    .contact-section .contact-details h4 {
      font-size: 24px;
      font-weight: bold; }
    .contact-section .contact-details hr {
      border-color: grey !important; }
    .contact-section .contact-details .fa {
      font-size: 24px;
      padding-right: 20px; }
  .contact-section .contact-form {
    padding-top: 20px; }
    .contact-section .contact-form .panel {
      background: #9FC5F8;
      border: 2px solid; }
      .contact-section .contact-form .panel h2 {
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: bold; }
      .contact-section .contact-form .panel button {
        font-size: 18px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/06/2016, 2:43:26 PM
    Author     : Andrew Dallow
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/06/2016, 2:43:20 PM
    Author     : Andrew Dallow
*/
/* GENERIC FORMS
----------------------------------------------- */
.form-hint {
  color: gray;
  font-size: 12px; }

.loginForm {
  /* fix for ie7's rendering of max-width property on select input */
  /* Radio and Checkbox */
  /* Messages */
  /* ACTIONS */
  /* AREA SPECIFIC */
  /* LOGIN and FORGOT PASSWORD */
  /* Search / Login */
  /* USER DEFINED USER FORM MODULE STYLES
  ----------------------------------------------- */
  /*Generic and mixed*/
  /* Labels */
  /* Radio / Checkbox */
  /* Messages */
  /* Error messages */
  /* To test - potentially not needed? */
  /* Responsive form styles
  ----------------------------------------------- */ }
  .loginForm form {
    max-width: 500px;
    width: 50%; }
  .loginForm div.field {
    margin: 10px 0 15px; }
  .loginForm fieldset {
    border: 0;
    margin: 0;
    padding: 0; }
  .loginForm form label {
    margin-bottom: 5px; }
  .loginForm form label.left {
    display: block;
    font-weight: bold; }
  .loginForm form label.right {
    font-size: 12px;
    color: #888; }
  .loginForm form input.text,
  .loginForm form textarea,
  .loginForm form .textajaxuniquetext,
  .loginForm form select {
    width: 100%;
    max-width: 400px;
    padding: 6px 5px;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #dad9d9; }
  .loginForm .ie7 form select {
    width: 400px; }
  .loginForm form input.text:focus,
  .loginForm form textarea:focus,
  .loginForm form .textajaxuniquetext:focus,
  .loginForm form select:focus {
    outline: none; }
  .loginForm form input[disabled], .loginForm form textarea[disabled] {
    background-color: #f7f7f7;
    border: 1px solid #dad9d9; }
  .loginForm textarea {
    resize: vertical;
    /* forces text area to be resized vertically only */ }
  .loginForm .field .checkbox, .loginForm .field .radio {
    float: left;
    width: 13px;
    height: 13px;
    margin-left: 0px;
    margin-top: 3px;
    padding: 0; }
  .loginForm .checkbox label.right,
  .loginForm .radio label.right {
    float: left; }
  .loginForm form .message {
    background-color: #fef4ba;
    padding: 5px 10px;
    border: 1px solid #e8c805;
    border-radius: 3px; }
  .loginForm form .good {
    background-color: #ecf9d0;
    border-color: #8fbe00; }
  .loginForm form .bad, .loginForm form .required {
    background-color: #f9d0d0;
    border-color: #cf0000;
    color: #b80000; }
  .loginForm .Actions {
    margin-bottom: 20px; }
  .loginForm a.btn, .loginForm button, .loginForm input[type="submit"], .loginForm .Actions .action {
    background: #b80000;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    font-size: 13px;
    margin-right: 10px;
    float: left; }
  .loginForm a.btn:hover, .loginForm button, .loginForm input[type="submit"]:hover, .loginForm .Actions .action:hover {
    background: #C80000;
    color: #fff; }
  .loginForm a.btn {
    line-height: 18px;
    margin-bottom: 10px; }
  .loginForm a.btn:after {
    /* creates arrow in button */
    content: '\2192';
    padding-left: 10px; }
  .loginForm .ie7 input.action {
    width: 0;
    /* IE table-cell margin fix */
    overflow: visible; }
  .loginForm input.action[class] {
    /* IE ignores [class] */
    width: auto;
    /* cancel margin fix for other browsers */ }
  .loginForm .ie7 .Actions .action {
    float: left; }
  .loginForm .Actions:after {
    color: #B94A48;
    display: inline-block;
    font-weight: normal;
    margin-top: 9px; }
  .loginForm #MemberLoginForm_LoginForm .Actions:after {
    display: none; }
  .loginForm #Remember {
    min-height: 20px; }
  .loginForm #ForgotPassword {
    clear: left; }
  .loginForm #MemberLoginForm_LostPasswordForm .Actions:after {
    display: none; }
  .loginForm .header form .middleColumn {
    /* float: none;
    width: 100% !important; */ }
  .loginForm .FormHeading {
    clear: both;
    padding-top: 15px; }
  .loginForm form .date .middleColumn input {
    /*background: transparent url(../images/icons/your_icon_here.png) no-repeat scroll 90px 5px;*/
    width: 114px; }
  .loginForm .Actions input.resetformaction,
  .loginForm .Actions input.action-minor {
    /* Clear button */
    float: left;
    background-color: #888; }
  .loginForm .Actions input.resetformaction:hover,
  .loginForm .Actions input.action-minor:hover {
    /* Clear button */
    background-color: #aaa; }
  .loginForm .checkbox label.right {
    font-size: 13px;
    /* reset to default */
    color: #333;
    /* reset to default */ }
  .loginForm form .requiredField label.left:after {
    /* pseudo element adds an asterisk to a required fields label */
    color: #B94A48;
    content: "*";
    font-size: 14px;
    font-weight: normal;
    padding-left: 3px; }
  .loginForm form .checkboxset ul,
  .loginForm form .optionset ul {
    margin: 0; }
  .loginForm form .checkboxset li,
  .loginForm form .optionset li {
    margin-bottom: 5px;
    list-style-type: none; }
  .loginForm form div.checkbox:after {
    /* clearfix */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .loginForm form .checkbox .checkbox {
    clear: both; }
  .loginForm span.message {
    margin: 10px 0;
    display: block;
    max-width: 390px;
    clear: left; }
  .loginForm div.holder-required {
    /* This class needs to be changed - is used for both input and div */
    /* background-color: #f9d0d0;
    border: 1px solid #cf0000;
    padding: 10px;
    margin-left: -11px; */ }
  .loginForm form input.holder-required {
    /* This class needs to be changed - is used for both input and div */
    border: 1px solid #cf0000; }
  .loginForm input:invalid,
  .loginForm textarea:invalid {
    border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
    -webkit-box-shadow: 0px 0px 5px red;
    box-shadow: 0px 0px 5px red; }
  .loginForm .no-boxshadow input:invalid,
  .loginForm .no-boxshadow textarea:invalid {
    background-color: #f0dddd; }
  .loginForm .ss-uploadfield-item-info button {
    margin-top: 4px !important;
    float: left; }
  .loginForm form .creditCardField input,
  .loginForm form input.currency,
  .loginForm form input.numeric {
    width: 50px; }
  .loginForm form #DMYDate-month,
  .loginForm form #DMYDate-day {
    width: 25px; }
  @media only screen and (max-width: 700px) {
    .loginForm {
      /* To test - potentially not needed? */ }
      .loginForm .header form .middleColumn {
        float: none;
        width: 100% !important; }
      .loginForm form label.left,
      .loginForm #MemberLoginForm_LoginForm label {
        margin-bottom: 8px; } }
  @media only screen and (max-width: 900px) {
    .loginForm form {
      max-width: 100%; } }

/*# sourceMappingURL=styles.css.map */
